
{% extends 'base.html' %}
        {% block title  %}
                 TODO-HOME
        {% endblock title  %}
{% block body %}
<div class="container">
        <form method="POST" action="/">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="desc">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
    <div class="container">
        {% if alltodo|length ==0%}
            <b>No record</b>
        {% else %}
              <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    {% for i  in alltodo  %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{i.title}}</td>
      <td>{{i.desc}}</td>
      <td>{{i.date}}</td>
      <td><a type="button" class="btn btn-danger" href="\delete\{{i.sn}}">Delete</button></td>
      <td><a type="button" class="btn btn-danger" href="\update\{{i.sn}}">Update</button></td>
    </tr> 
    {% endfor %}

  </tbody>
</table>
        {% endif %}
    </div>
{% endblock body %}
