
{% extends 'base.html' %}
        {% block title  %}
                 TODO-UPDATE
        {% endblock title  %}
{% block body %}
<div class="container">
        <form method="POST" action="/update/{{todo.sn}}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title" value="{{todo.title}}">

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="desc" value="{{todo.desc}}">
  </div>
<button type="submit" class="btn btn-primary">update</button>
</form>
    </div>
{% endblock body %}
